<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required>
        <br>
        <label for="description">Description:</label>
        <textarea name="description" id="description"></textarea>
        <!-- <label for="task_due_date">Task Due Date</label>
        <input type="date" name="task_due_date" id="task_due_date">
        <label for="task_status">Task Status</label>
        <input type="text" name="task_status" id="task_status">
        <br> -->
        <button type="submit">Create Task</button>
    </form>
</body>
</html>